<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Calendar App</title>
    <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='favicon.svg')}}">
    <link rel="stylesheet" href=" {{ url_for('static', filename='styles.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
        rel="stylesheet">
</head>

<body>
    {% block nav_content %}

    {% endblock %}

    {% block main_content %}
    {% endblock %}
</body>

</html>