{% extends "base.html" %}



{% block nav_content %}
{% include "nav.html" %}

{% endblock %}

{% block main_content %}
<table>
    <tr>
        {% for each in colnames %}
        <th>{{each}}</th>
        {% endfor %}
    </tr>
    {% for row in results %}
    <tr>
        {% for column in row %}
        <td>{{column}}</td>
        
        {% endfor %}
        <td> <form action="{{ url_for('delete_event') }}" method="POST" novalidate>
            
            <input type="hidden" name="id" value="{{row[0]}}">
            <input type ="submit" value="Delete one event"/>
            <input type="hidden" name="series_id" value="{{row[10]}}"/>
            <input type="submit" value="Delete series" formaction="{{url_for('delete_series')}}"/>
        </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}